.footer {
  margin-top: 2%;
  padding: 25px;
  background-color: var(--header-footer-bg-color);
}

.link {
  color: var(--app-main-color);
}

.link:hover {
  color: var(--other-main-color);
  background-color: var(--footer-hover-bg-color);
}
