.post {
  display: flex;
  min-height: 300px;
  align-items: center;
  padding: 4%;
  border: var(--post-border);
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--post-bg-color);
}

.post:hover {
  background-color: var(--post-hover-bg-color);
}

.header {
  color: var(--post-header-color);
}
